.bod{
    background-color:whitesmoke;
    
}

 .landingpage_box{
    float:left;
    padding-left:30%;
    padding-top:20%;
    
}
.enterbtn{
    padding-left:10px;
}

button{
    text-align:center;
    margin-left:5%;
    color:brown;
    background-color: teal;

}
button a {
    color:brown;
} 